# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
data_url = r"https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(data_url, sep="\t")

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
chipo.shape[0]

4622

In [7]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [8]:
# Solution 1
len(chipo.columns)

5

In [9]:
# Solution 2
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [10]:
print(chipo.columns.to_list())

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [12]:
item_name_quantity = chipo.groupby("item_name")["quantity"].sum().sort_values(ascending=False)
item_name_quantity.index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [13]:
item_name_quantity[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [14]:
choice_description_quantity = chipo.groupby("choice_description")["quantity"].sum().sort_values(ascending=False)
print(choice_description_quantity.head(1))

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [15]:
print(f"Total Ordered Items: {chipo.quantity.sum()}")

Total Ordered Items: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [16]:
chipo['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [17]:
# Clean The Price Column From $
chipo["item_price"] = chipo["item_price"].apply(lambda x: x.replace("$", "").strip()).astype(np.float32)

#### Step 13.c. Check the item price type

In [18]:
chipo['item_price'].dtypes

dtype('float32')

### Step 14. How much was the revenue for the period in the dataset?

In [19]:
revenue = chipo["quantity"] * chipo["item_price"]
print(f"The Revenue: {revenue.sum():,.3f}")

The Revenue: 39,237.020

### Step 15. How many orders were made in the period?

In [20]:
num_orders = chipo["order_id"].nunique()
print(f"The Total Number of Orders: {num_orders:,d}")

The Total Number of Orders: 1,834

### Step 16. What is the average revenue amount per order?

In [28]:
# Solution 1
chipo['revenue'] = chipo["item_price"] * chipo["quantity"]

0        2.390000
1        3.390000
2        3.390000
3        2.390000
4       33.959999
          ...
4617    11.750000
4618    11.750000
4619    11.250000
4620     8.750000
4621     8.750000
Length: 4622, dtype: float64

In [30]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.390000
1,1,1,Izze,[Clementine],3.39,3.390000
2,1,1,Nantucket Nectar,[Apple],3.39,3.390000
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.390000
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.959999

In [32]:
avg_revenue_per_order = chipo.groupby("order_id")["revenue"].mean()
avg_revenue_per_order

order_id
1        2.890000
2       33.959999
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: revenue, Length: 1834, dtype: float64

In [22]:
# Solution 2

### Step 17. How many different items are sold?

In [71]:
num_sold_items = chipo["item_name"].nunique()
print(f"Number of Unique Sold Items: {num_sold_items}")

Number of Unique Sold Items: 50

## Filtering and Sorting Data

### Step 18. How many products cost more than $10.00?

In [36]:
cost_filter = chipo["item_price"] > 10
cost_filter.sum()

1130

In [43]:
chipo.head(8)

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.390000
1,1,1,Izze,[Clementine],3.39,3.390000
2,1,1,Nantucket Nectar,[Apple],3.39,3.390000
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.390000
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.959999
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.980000
6,3,1,Side of Chips,NaN,1.69,1.690000
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.750000

In [52]:
chipo[chipo["item_name"] == "Chicken Bowl"]

,order_id,quantity,item_name,choice_description,item_price,revenue
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.959999
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.980000
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.250000
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75,8.750000
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49,8.490000
...,...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25,11.250000
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75,8.750000
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75,8.750000
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75,8.750000
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.750000

### Step 18. What is the price of each item?
##### print a data frame with only two columns item_name and item_price

In [70]:
menu_price = chipo.groupby("item_name")[["item_price"]].min().sort_values("item_price")
menu_price

                                       item_price
item_name
Bottled Water                                1.09
Canned Soda                                  1.09
Canned Soft Drink                            1.25
Side of Chips                                1.69
Chips                                        1.99
Chips and Fresh Tomato Salsa                 2.29
Chips and Tomatillo-Red Chili Salsa          2.39
Chips and Tomatillo-Green Chili Salsa        2.39
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Tomatillo Red Chili Salsa          2.95
Chips and Tomatillo Green Chili Salsa        2.95
Chips and Roasted Chili Corn Salsa           2.95
Chips and Mild Fresh Tomato Salsa            3.00
Nantucket Nectar                             3.39
Izze                                         3.39
Chips and Guacamole                          3.89
6 Pack Soft Drink                            6.49
Crispy Tacos                                 7.40
Salad                                        7.40
Bowl                                         7.40
Burrito                                      7.40
Chicken Bowl                                 8.19
Chicken Burrito                              8.19
Chicken Salad                                8.19
Chicken Soft Tacos                           8.49
Veggie Salad                                 8.49
Veggie Crispy Tacos                          8.49
Veggie Burrito                               8.49
Veggie Bowl                                  8.49
Chicken Crispy Tacos                         8.49
Veggie Soft Tacos                            8.49
Steak Crispy Tacos                           8.69
Steak Salad                                  8.69
Steak Burrito                                8.69
Steak Bowl                                   8.69
Barbacoa Bowl                                8.69
Barbacoa Burrito                             8.69
Carnitas Burrito                             8.69
Chicken Salad Bowl                           8.75
Veggie Salad Bowl                            8.75
Barbacoa Crispy Tacos                        8.99
Carnitas Soft Tacos                          8.99
Carnitas Bowl                                8.99
Steak Soft Tacos                             8.99
Carnitas Crispy Tacos                        8.99
Carnitas Salad                               8.99
Barbacoa Soft Tacos                          8.99
Barbacoa Salad Bowl                          9.39
Steak Salad Bowl                             9.39
Carnitas Salad Bowl                          9.39

### Step 18. Sort by the name of the item?

In [93]:
chipo.sort_values("item_name").reset_index().head(20)

,index,order_id,quantity,item_name,choice_description,item_price,revenue
0,3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,25.959999
1,341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.490000
2,1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.490000
3,1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.490000
4,2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.490000
5,3422,1373,1,6 Pack Soft Drink,[Coke],6.49,6.490000
6,553,230,1,6 Pack Soft Drink,[Diet Coke],6.49,6.490000
7,1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49,6.490000
8,1922,776,1,6 Pack Soft Drink,[Coke],6.49,6.490000
9,1937,784,1,6 Pack Soft Drink,[Diet Coke],6.49,6.490000
10,3836,1537,1,6 Pack Soft Drink,[Coke],6.49,6.490000
11,298,129,1,6 Pack Soft Drink,[Sprite],6.49,6.490000
12,1976,798,1,6 Pack Soft Drink,[Diet Coke],6.49,6.490000
13,1167,481,1,6 Pack Soft Drink,[Coke],6.49,6.490000
14,3875,1554,1,6 Pack Soft Drink,[Diet Coke],6.49,6.490000
15,1124,465,1,6 Pack Soft Drink,[Coke],6.49,6.490000
16,3886,1558,1,6 Pack Soft Drink,[Diet Coke],6.49,6.490000
17,2108,849,1,6 Pack Soft Drink,[Coke],6.49,6.490000
18,3010,1196,1,6 Pack Soft Drink,[Diet Coke],6.49,6.490000
19,4535,1803,1,6 Pack Soft Drink,[Lemonade],6.49,6.490000

### Step 18. What was the quantity of the most expensive item ordered?

In [83]:
expensive_order = (chipo["item_price"] == chipo["item_price"].max())
chipo.loc[expensive_order, ["quantity", "item_name", "item_price"]]

      quantity                     item_name  item_price
3598        15  Chips and Fresh Tomato Salsa       44.25

### Step 19. How many times was a Veggie Salad Bowl ordered?

In [91]:
filt = chipo["item_name"] == "Veggie Salad Bowl"
quantity = chipo[filt]["quantity"].sum()
print(f"Veggie Salad Bowl Ordered: {quantity} Times")

Veggie Salad Bowl Ordered: 18 Times

### Step 20. How many times did someone order more than one Canned Soda?

In [100]:
# groupped_order = chipo.groupby("order_id")['choi']
filt = (chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)
filt.sum()

20