# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
# !pip install pandas_datareader

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas_datareader in c:\users\org\appdata\roaming\python\python310\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in d:\anconda\anaconda\lib\site-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: pandas>=0.23 in d:\anconda\anaconda\lib\site-packages (from pandas_datareader) (1.5.3)
Requirement already satisfied: lxml in d:\anconda\anaconda\lib\site-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anconda\anaconda\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in d:\anconda\anaconda\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in d:\anconda\anaconda\lib\site-packages (from pandas>=0.23->pandas_datareader) (2022.7)
Requirement already satisfied: certifi>=2017.4.17 in d:\anconda\anaconda\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2023.7.22)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\anconda\anaconda\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\anconda\anaconda\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anconda\anaconda\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.14)
Requirement already satisfied: six>=1.5 in d:\anconda\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)

In [2]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [3]:
start_date = pd.to_datetime("01/01/2015")
end_date = np.datetime64("today")

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [4]:
df_apple = pdr.DataReader("AAPL", "av-daily", 
                          start=start_date, end=end_date, 
                          api_key='GU3ZO8T5V8TEK6T6')

In [5]:
df_apple.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2218 entries, 2015-01-02 to 2023-10-24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    2218 non-null   float64
 1   high    2218 non-null   float64
 2   low     2218 non-null   float64
 3   close   2218 non-null   float64
 4   volume  2218 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 104.0+ KB

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [6]:
df_apple["stocks"] = "AAPL"

In [7]:
df_apple.head()

              open    high      low   close    volume stocks
2015-01-02  111.39  111.44  107.350  109.33  53204626   AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491   AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116   AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934   AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547   AAPL

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [8]:
df_tesla = pdr.DataReader("TSLA", "av-daily", 
                          start=start_date, end=end_date, 
                          api_key="GU3ZO8T5V8TEK6T6")

In [9]:
df_tesla["stocks"] = 'TSLA'
df_tesla.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2218 entries, 2015-01-02 to 2023-10-24
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    2218 non-null   float64
 1   high    2218 non-null   float64
 2   low     2218 non-null   float64
 3   close   2218 non-null   float64
 4   volume  2218 non-null   int64
 5   stocks  2218 non-null   object
dtypes: float64(4), int64(1), object(1)
memory usage: 121.3+ KB

In [10]:
df_ibm = pdr.DataReader("IBM", "av-daily", 
                        start=start_date, end=end_date, 
                        api_key="GU3ZO8T5V8TEK6T6")

In [11]:
df_ibm["stocks"] = 'IBM'
df_ibm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2218 entries, 2015-01-02 to 2023-10-24
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    2218 non-null   float64
 1   high    2218 non-null   float64
 2   low     2218 non-null   float64
 3   close   2218 non-null   float64
 4   volume  2218 non-null   int64
 5   stocks  2218 non-null   object
dtypes: float64(4), int64(1), object(1)
memory usage: 121.3+ KB

In [12]:
df_microsoft = pdr.DataReader("MSFT", 'av-daily', 
                              start=start_date, end=end_date, 
                              api_key="GU3ZO8T5V8TEK6T6")

In [13]:
df_microsoft["stocks"] = 'MSFT'
df_microsoft.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2218 entries, 2015-01-02 to 2023-10-24
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    2218 non-null   float64
 1   high    2218 non-null   float64
 2   low     2218 non-null   float64
 3   close   2218 non-null   float64
 4   volume  2218 non-null   int64
 5   stocks  2218 non-null   object
dtypes: float64(4), int64(1), object(1)
memory usage: 121.3+ KB

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [56]:
df = pd.concat([df_apple, df_ibm, df_microsoft, df_tesla])
df.index = pd.to_datetime(df.index)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8872 entries, 2015-01-02 to 2023-10-24
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    8872 non-null   float64
 1   high    8872 non-null   float64
 2   low     8872 non-null   float64
 3   close   8872 non-null   float64
 4   volume  8872 non-null   int64
 5   stocks  8872 non-null   object
dtypes: float64(4), int64(1), object(1)
memory usage: 485.2+ KB

In [57]:
df.head()

              open    high      low   close    volume stocks
2015-01-02  111.39  111.44  107.350  109.33  53204626   AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491   AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116   AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934   AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547   AAPL

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [58]:
df.set_index(["stocks", df.index])

                     open      high      low   close     volume
stocks
AAPL   2015-01-02  111.39  111.4400  107.350  109.33   53204626
       2015-01-05  108.29  108.6500  105.410  106.25   64285491
       2015-01-06  106.54  107.4300  104.630  106.26   65797116
       2015-01-07  107.20  108.2000  106.695  107.75   40105934
       2015-01-08  109.23  112.1500  108.700  111.89   59364547
...                   ...       ...      ...     ...        ...
TSLA   2023-10-18  252.70  254.6300  242.080  242.68  125147846
       2023-10-19  225.95  230.6100  216.780  220.11  170772713
       2023-10-20  217.01  218.8606  210.420  211.99  138010095
       2023-10-23  210.00  216.9800  202.510  212.08  150683368
       2023-10-24  216.50  222.0500  214.110  216.52  118231113

[8872 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [59]:
vol = df[["volume"]]

In [60]:
vol.head(20)

               volume
2015-01-02   53204626
2015-01-05   64285491
2015-01-06   65797116
2015-01-07   40105934
2015-01-08   59364547
2015-01-09   53315099
2015-01-12   49650790
2015-01-13   67091928
2015-01-14   48956588
2015-01-15   60013996
2015-01-16   78513345
2015-01-20   49899907
2015-01-21   48575897
2015-01-22   53796409
2015-01-23   46464828
2015-01-26   55614979
2015-01-27   95568749
2015-01-28  146477063
2015-01-29   84436432
2015-01-30   83745461

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [111]:
weekly_vol = vol.resample("W").agg(["sum","max", "min"])
weekly_vol["week"] = weekly_vol.index.isocalendar().week

# Reordering The Columns
weekly_vol = weekly_vol[["week", "volume"]]

In [112]:
weekly_vol.head(25)

           week     volume
                       sum        max      min
2015-01-04    1   91408262   53204626  4764443
2015-01-11    2  488527205   65797116  2968390
2015-01-18    3  515385976   78513345  3603158
2015-01-25    4  383535971   53796409  3442371
2015-02-01    5  952276986  169163953  2781024
2015-02-08    6  527459433   70149743  3243931
2015-02-15    7  534692182   74474466  3057502
2015-02-22    8  344425275   63152405  2713598
2015-03-01    9  570840773   91287529  2714434
2015-03-08   10  445085065   72842060  3234068
2015-03-15   11  601007579   88528487  4149294
2015-03-22   12  537371595   71904529  3311792
2015-03-29   13  424766436   51655177  2631626
2015-04-05   14  347008089   47099670  3700791
2015-04-12   15  373631537   40187953  2263490
2015-04-19   16  348346420   51957046  1659059
2015-04-26   17  537949881  130933665  2427843
2015-05-03   18  745181006  118923970  3166588
2015-05-10   19  523490230   72141010  2472627
2015-05-17   20  396981822   48160032  2438669
2015-05-24   21  370104292   50882918  1970630
2015-05-31   22  337648693   70697560  1731372
2015-06-07   23  328127417   38450118  1781505
2015-06-14   24  379251674   56075420  1422335
2015-06-21   25  419740383   63837036  1984678

### Step 9. Find all the volume traded in the year of 2015

In [113]:
# Filter Using Original DF
filt = (df.index.year == 2015)
df.loc[filt, "volume"].sum()

24314152987

In [114]:
# Another Way: Filter Using Vol DF
vol[vol.index.year == 2015].sum()

volume    24314152987
dtype: int64